body {

  text-align: left;
  margin-left: 700px;
  font-size: large;
  margin-top: 50px;
  font-family: arial;
}

h1 {
  color: grey;
  font-size: 50px;
}

label {

  color: black;
  width: 200px;
  float: left;
  margin-left: 40px;
}
button {
  margin-left: 40px;
  
}
output{
  margin-left: 40px;
}
input{
  float: left;
}


