body {
  background-color: black;

  color: white;
}

h1 {
  color: grey;

}

.maindiv {
  background-color: white;
  border-radius: 25px;
  width: 300px;
 margin: auto;
 color: black;
padding: 20px;
}
